.avatar-chip {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 600;

  background: #00427A;
  color: #fff;

  user-select: none;
}
