.avatar-chip {
  padding:0.3rem;
  border-radius: 13%;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: 600;

  background: #00427A;
  color: #fff;

  user-select: none;
}
