<mat-toolbar class="navbar">
  <div class="toolbar-content">
    <h1 class="brand" routerLink="/">Stryktipstabellen</h1>
    <nav class="actions">
      <button
        mat-raised-button
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
                [style]="'border-radius:0.3rem;'"
      >
        Hem
      </button>

      <button
        mat-raised-button
        routerLink="/data"
        routerLinkActive="active-link"
                [style]="'border-radius:0.3rem;'"
      >
        Data
      </button>

            <button
        mat-raised-button
        routerLink="/matches"
        routerLinkActive="active-link"
                [style]="'border-radius:0.3rem;'"
      >
        Matcher
      </button>

<button
  matMiniFab
  color="secondary"
  (click)="openLogin()"
  *ngIf="!(isLoggedIn$ | async)"
>
  <mat-icon >login</mat-icon>
</button>
<button
  matMiniFab
   [matMenuTriggerFor]="menu"
  *ngIf="(isLoggedIn$ | async)"
>
  <div class="avatar">
    {{ displayLetter$ | async }}
  </div>
  <mat-menu #menu="matMenu">
  <button mat-menu-item   (click)="logout()" [routerLink]="'/'"
 >    <mat-icon>logout</mat-icon>
    <span>Logga ut</span></button>
</mat-menu>
</button>

    </nav>
  </div>
  
</mat-toolbar>

<router-outlet></router-outlet>
