<mat-toolbar class="navbar">
  <div class="toolbar-content">
    <h1 class="brand" routerLink="/">Stryktipstabellen</h1>
    <nav class="actions">
      <button
        mat-raised-button
        routerLink="/"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Hem
      </button>

      <button
        mat-raised-button
        routerLink="/data"
        routerLinkActive="active-link"
      >
        Data
      </button>

            <button
        mat-raised-button
        routerLink="/matches"
        routerLinkActive="active-link"
      >
        Matcher
      </button>

<button
  matMiniFab
  color="secondary"
  (click)="openLogin()"
  *ngIf="!(isLoggedIn$ | async)"
>
  <mat-icon>login</mat-icon>
</button>

<button
  matMiniFab
  (click)="logout()"
  *ngIf="(isLoggedIn$ | async)"
>
  <div class="avatar">
    {{ displayLetter$ | async }}
  </div>
</button>
    </nav>
  </div>
  
</mat-toolbar>

<router-outlet></router-outlet>
