<mat-toolbar class="navbar">
  <h1>Stryktipstabellen</h1>
  <div class="buttons">
  <button mat-raised-button routerLink="/">Hem</button>
  <button mat-raised-button (click)="openLogin()" *ngIf="!api.isLoggedIn()">Logga in</button>
  <button mat-stroked-button color="warn" (click)="logout()" *ngIf="api.isLoggedIn()">Logga ut</button>
  </div>
</mat-toolbar>

<main class="panels">
    <section class="panel">
    <app-table-component></app-table-component>
  </section>
  <section class="panel">
    <app-roundlist-component></app-roundlist-component>
  </section>
</main>

<router-outlet />
