.data-card {
  margin-bottom: 0.5rem;
      background-color: #FFFFFF;
  color:#001932;
}
.chart-container {
  position: relative;
  width: 100%;
  height: 260px; /* mobilvänlig höjd */
}
@media (max-width: 600px) {
  .chart-container { height: 220px; }
}
