:host {
  display: block;
  max-width: 900px;
  margin: 12px auto;
  padding: 0 10px;
}

.tip-card { 
    border-radius: 16px; 
}

.status-row { 
    margin-bottom: 12px; 
}


mat-chip.ok { opacity: 1; }
mat-chip.no { opacity: .55; }

.matches { 
    display: flex;
    flex-direction: column; 
    gap: 1rem; 
}

.match {
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 14px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main{
  width: 100%;
  display: flex;
  justify-content: center; 
}

.match-info {
display: flex;
flex-direction: row;
padding: 0.5rem;
}

.teams{
    display: flex;
    gap: 1rem;
}

.no { font-weight: 700; opacity: .8; text-align: center; }

.teams {
  font-weight: 600;
}

.pick-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  align-items: center;
}

.game{
  display: flex;
  flex-direction: column;
}

.percent{
  justify-content: center;
  display: flex;
  margin: 1rem;
}

.odds{
  justify-content: center;
  display: flex;
  margin-top: 0.5rem;
}

.pick {
  height: 42px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.5);
  cursor: pointer;
  background: transparent;
  font-weight: 800;
  font-size: 1rem;
}

.pick.active {
  background: rgba(0, 66, 122, 1);
  color: white;
}

.clear {
  height: 42px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,.12);
  background: rgba(0,0,0,.04);
}

.submit-row {
  margin-top: 16px;
  text-align: center;
  padding: 1rem;
}

.submit{
    background-color: rgba(0, 66, 122, 1);
    color: white;
    font-size: 1.7rem;
    height: 3rem;
    width: 15rem;
}

.submit:disabled {
  background-color: rgba(200, 200, 200, 1);
  color: rgb(0, 0, 0,0.5);
}