<h2 mat-dialog-title>Lägg till omgång</h2>
<form [formGroup]="form" class="form" (ngSubmit)="submit()">
  <div class="row">
    <mat-form-field class appearance="outline">
      <mat-label>Omgång</mat-label>
      <input matInput type="number" formControlName="roundNumber" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vecka</mat-label>
      <input matInput type="number" formControlName="week" required />
    </mat-form-field>
  </div>

  <div class="players" formArrayName="players">
    <div class="players-header">
      <h3>Spelare</h3>
      <div class="header-actions">
        <button mat-stroked-button color="primary" type="button" (click)="addPlayer()">Add row</button>
      </div>
    </div>

    <div class="player-row" *ngFor="let group of players.controls; let i = index" [formGroupName]="i">
      <mat-form-field appearance="outline" class="name">
        <mat-label>Namn</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="score">
        <mat-label>Antal rätt</mat-label>
        <input matInput type="number" formControlName="score" />
      </mat-form-field>
      <button mat-icon-button color="warn" type="button" (click)="removePlayer(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="actions">
    <button mat-button type="button" color="warn" (click)="close()">Stäng</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || submitting">Spara</button>
  </div>
</form>
