:root {
  --primary-color: #00427a;
  --page-background: #f5f7fb;
}

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  background: var(--page-background);
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';