:root {
  --primary-color: #00427a;
  --secondary-color: #FFFFFF;
  --page-background: #FFECEB;
}

* {
  font-family: 'phudu', sans-serif;
}

html, body {
  margin: 0;
  background: var(--page-background);
}

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=Phudu:wght@300..900&display=swap');